# Loại trừ thư mục node_modules để tránh copy vào container
node_modules/

# Loại trừ file log và các file không cần thiết
npm-debug.log
yarn-error.log
*.log

# Loại trừ thư mục Git
.git/
.gitignore

# Loại trừ các file môi trường (nếu không cần trong container)
.env
.env.local

# Loại trừ các file build (nếu có)
dist/
build/

# Loại trừ các file IDE và hệ thống
.DS_Store
.vscode/
.idea/
